body {
  padding-top: 75px;
  font-family: 'Quattrocento', serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 3em;
  color: #eb514f;
}

.navbar {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1em;
  min-height: 75px;
  padding-top: 14px;
}

.navbar-default {
  background-color: rgba(255,255,255,0.85);
  border-color: #eb514f;
}

.navbar-fixed-top {
  border-width: 0 0 5px;
}

.navbar-brand {
  padding: 0px 15px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.fullscreen-wrap {
  display: table;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
}

.inner-wrap {
  display: table-cell;
  vertical-align: middle;
}

.intro {
    text-align: center;
    color: #fff;
    background: url(../img/piggyback-3.jpg) no-repeat top center fixed;
    background-color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.about-img {
  border: 7px solid white;
}

.party-div {
  padding-top: 16px;
  padding-bottom: 16px;
}

.party-img-him {
  border: 7px solid #287BBF;
}

.party-img-her {
  border: 7px solid #eb514f;
}

.text-right-responsive {
  text-align: center;
}

.text-left-responsive {
  text-align: center;
}

.lead-him {
  color: #287BBF;
  font-size: 16px;
}

.lead-her {
  color: #eb514f;
  font-size: 16px;
}

.content-section {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(255,255,255,0.5);
}

.gift-section {
  width: 100%;
  background-color: #287BBF;
}

.about-section {
    /*width: 100%;
    height: 100vh;
    padding: 50px 0;*/
    color: #fff;
    background: url(../img/crazy-dark.jpg) no-repeat center top fixed;
    background-color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.about-section h1, .ceremony-section h1, .gift-section h1 {
  color: #fff;
}

.ceremony-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/sitting-dark.jpg) no-repeat center bottom fixed;
    background-color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.added-spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ceremony-deets {
  font-family: 'Italianno',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-size: 2.5em;
}

.gift-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/gotwood.jpg) no-repeat center center fixed;
    background-color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
  background-color: rgb(233, 233, 233);
}

@media(min-width:767px) {
    h1 {
      font-size: 4em;
    }
    .intro {
        width: 100%;
        padding: 0;
        background: url(../img/piggyback-3.jpg) no-repeat top center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }

    .about-section {
      /*  width: 100%;
        padding: 50px 0;*/
        color: #fff;
        background: url(../img/crazy-dark2.jpg) no-repeat left top fixed;
        background-color: #FFF;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .text-right-responsive {
      text-align: right;
    }

    .text-left-responsive {
      text-align: left;
    }

    .ceremony-section {
        width: 100%;
        padding: 50px 0;
        color: #fff;
        background: url(../img/sitting-dark.jpg) no-repeat left center fixed;
        background-color: #FFF;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .gift-section {
        background: url(../img/gotwood.jpg) no-repeat right center fixed;
}

@media(min-width:1200px) {
    .intro {
        width: 100%;
        padding: 0;
        background: url(../img/piggyback-3.jpg) no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .content-section {
        padding-top: 50px;
        padding-bottom: 50px;
      }

    .text-right-responsive {
      text-align: right;
    }

    .text-left-responsive {
      text-align: left;
    }
}
