{% extends "base.html" %}
{% load staticfiles %}

{% block title %}We're Getting Married!{% endblock %}

{% block body %}

{% include "navbar.html" %}

<!-- Intro Header -->
<header class="intro fullscreen-wrap">
    <div class="inner-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  <img src="{% static 'img/newintro.png' %}" alt="March 12th 2016" class="img-responsive img-center">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Our Story Section -->
<section id="story" class="container content-section text-center">
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          <h1>Our Story</h1>
          <img src="{% static 'img/divider1.png' %}" class="img-responsive img-center h1" />
            <p>Katie and Mike met in a mental hospital. The end.</p>
          <img src="{% static 'img/divider1_bottom.png' %}" class="img-responsive img-center h1" />
        </div>
    </div>
</section>

<!-- About Us Section -->
<section id="about" class="about-section fullscreen-wrap text-center">
    <div class="inner-wrap">
        <div class="container">
          <div class="row">
            <h1>About Us</h1>
            <div class="col-xs-12 col-md-4 col-md-offset-2 col-lg-4">
              <img src="{% static 'img/michael.jpg' %}" alt="Michael" width="200px" class="img-circle img-responsive center-block party-img-him">
              <h2>Michael Gorrie</h2>
              <p>Mike loves video games, Star Wars, rotisserie chicken, and one day hopes to own a tank.  He knows no strangers and loves giving warm hugs.  When not scheming how to eradicate Katie's cats, he's busy welding knives and swords in the forge.  One day he will become the greatest blacksmithing nurse the world will ever know.</p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
              <img src="{% static 'img/katie.jpg' %}" alt="Katie" width="200px" class="img-circle img-responsive center-block party-img-her">
              <h2>Katherine Paris</h2>
              <p>Katie loves cats, breakfast foods, and sharp pencils.  Smiling is her favorite  and she loves to make people laugh.  When not planning how her house can accommodate 50 cats, she's busy working as a Sign Language Interpreter...something else she loves dearly and hopes to do for the next 150 years.</p>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- The Wedding Party Section -->
<section id="party" class="container content-section text-center">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
          <h1>The Wedding Party</h1>
          <div class="row center-xs">
            <div class="col-xs-12 col-sm-4 col-sm-push-8 col-lg-2 col-lg-push-4 party-div">
              <img src="{% static 'img/patrick.jpg' %}" alt="Best Man" width="175px" class="img-circle img-responsive center-block party-img-him">
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-pull-4 col-lg-4 col-lg-pull-2 text-right-responsive">
              <h2>Patrick Kinsella</h2>
              <p class="lead-him">Best Man</p>
              <p>Patrick loves cars, peanut butter/honey crackers, and intellectual stuff.  He absolutely hates thin crust pizza and Michael's incessant jabbering.  When Patrick is not busy babysitting Michael on their wild adventures together he enjoys spending time plotting how he can make billions of dollars with his genius, engineering, entrepreneur skills, so one day he can buy Michael and Katie a yacht with helipad (and helicopter) like he promised.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-2 party-div">
              <img src="{% static 'img/catherine.jpg' %}" alt="Maid of Honor" width="175px" class="img-circle img-responsive center-block party-img-her">
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-4 text-left-responsive">
              <h2>Catherine Greene</h2>
              <p class="lead-her">Maid of Honor</p>
              <p>Catherine loves good beer, avocados, and local art.  She once punched a guy in grade school because he stole Katie's swing.  Ever since then she has been Katie's hero and they have been friends ever since.  When Catherine is not busy saving the world from swing thieves she works as a lawyer by day and a pinball hustler by night.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-lg-2 party-div">
              <img src="{% static 'img/brandon.jpg' %}" alt="Groomsman" width="125px" class="img-circle img-responsive center-block party-img-him">
              <h2>Brandon Tsueda</h2>
            </div>
            <div class="col-xs-6 col-lg-2 party-div">
              <img src="{% static 'img/sonny.jpg' %}" alt="Groomsman" width="125px" class="img-circle img-responsive center-block party-img-him">
              <h2>Sonny Lampiasi</h2>
            </div>
            <div class="col-xs-6 col-lg-2 party-div">
              <img src="{% static 'img/tyler.jpg' %}" alt="Groomsman" width="125px" class="img-circle img-responsive center-block party-img-him">
              <h2>Tyler Scanlon</h2>
            </div>
            <div class="col-xs-6 col-lg-2 party-div">
              <img src="{% static 'img/jenna.jpg' %}" alt="Bridesmaid" width="125px" class="img-circle img-responsive center-block party-img-her">
              <h2>Jenna Starr</h2>
            </div>
            <div class="col-xs-6 col-lg-2 party-div">
              <img src="{% static 'img/holly.jpg' %}" alt="Bridesmaid" width="125px" class="img-circle img-responsive center-block party-img-her">
              <h2>Holly O'Mary</h2>
            </div>
            <div class="col-xs-6 col-lg-2 party-div">
              <img src="{% static 'img/kelli.jpg' %}" alt="Bridesmaid" width="125px" class="img-circle img-responsive center-block party-img-her">
              <h2>Kelli Selzer</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-lg-2 col-lg-offset-2 party-div">
              <img src="{% static 'img/justin.jpg' %}" alt="Groomsman" width="125px" class="img-circle img-responsive center-block party-img-him">
              <h2>Justin Tanselle</h2>
            </div>
            <div class="col-xs-6 col-lg-2 party-div">
              <img src="{% static 'img/hector.jpg' %}" alt="Groomsman" width="125px" class="img-circle img-responsive center-block party-img-him">
              <h2>Hector Holguin</h2>
            </div>
            <div class="col-xs-6 col-lg-2 party-div">
              <img src="{% static 'img/krysten.jpg' %}" alt="Bridesmaid" width="125px" class="img-circle img-responsive center-block party-img-her">
              <h2>Krysten Dekker</h2>
            </div>
            <div class="col-xs-6 col-lg-2 party-div">
              <img src="{% static 'img/rasheedah.jpg' %}" alt="Bridesmaid" width="125px" class="img-circle img-responsive center-block party-img-her">
              <h2>Rasheedah Kenner</h2>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- The Ceremony Section -->
<section id="ceremony" class="ceremony-section fullscreen-wrap text-center">
    <div class="inner-wrap">
        <div class="container">
          <div class="row">
            <h1>The Ceremony</h1>
            <div class="col-xs-12 col-md-4 added-spacing">
              <h2>What</h2>
              <hr>
              <span class="ceremony-deets">Wedding Ceremony<br>
                &<br>
                Reception</span>
              <hr>
              <span class="ceremony-deets">Please join us for the ceremony and the reception in the same location.</span>
            </div>
            <div class="col-xs-12 col-md-4 added-spacing">
              <h2>When</h2>
              <hr>
              <span class="ceremony-deets">March 12, 2016<br>
                6:00pm</span>
            </div>
            <div class="col-xs-12 col-md-4 added-spacing">
              <h2>Where</h2>
              <hr>
              <span class="ceremony-deets">Mellwood Arts<br>
                &<br>
                Entertainment Center<br>
                Event Room #1 (Picasso)</span>
              <hr>
              <span class="ceremony-deets">1860 Mellwood Ave.,<br>
                Louisville, KY 40206<br></span>
                <a href="https://goo.gl/maps/bKuaYqRN2eK2">Map</a>


            </div>
          </div>
        </div>
    </div>
</section>

<!-- RSVP Section -->
<section id="rsvp" class="container content-section text-center">
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          <h1>Will You Join Us?</h1>
            <p>Please enter your name, email address, and the total number of guests in your party. We can't wait to see you!</p>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          {% include "rsvp/rsvp.html" %}
        </div>
    </div>
</section>

<!-- Gift Section -->
<section id="gifts" class="container gift-section fullscreen-wrap text-center">
  <div class="inner-wrap">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <h1>Gifts</h1>
              <p>Instead of dealing with the stress of getting us a gift, we are not registered anywhere.  We don't want you to feel pressured to get us anything. However, if you insist, we do have a PayPal account set up for anyone wanting to help send us on our honeymoon! If you would like to participate, please feel free to donate any amount you see fit by pressing the PayPal button below. You can pay via credit card or PayPal. Thank you so much!</p>
              <!-- Form pasted from PayPal -->
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="3XC59WMWTFFMQ">
              <input type="image" src="{% static 'img/donatebutton2.png' %}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>


          </div>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}

{% endblock %}
