
<hr>
<form role="form" method="POST" action="/RSVP/">
    {% csrf_token %}
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        {{ rsvp_form.first_name }}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        {{ rsvp_form.last_name }}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        {{ rsvp_form.email }}
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
      <div class="form-group">
        {{ rsvp_form.number_of_guests }}
      </div>
    </div>
    <div class="col-xs-12">
      <input class="btn btn-default" type="submit" value="I'll Be There" />
    </div>
</form>
